:root {
    --main-color: #a05ddb;
   --text-color: #fffbff;
   --bg-color-01: #242222;
   --bg-color02: #323946;
   --color-00: #0000001a;
   --color-01: #563e7a;
   --color-02: #009539;
   --color-03: #949499;
   --color-04: #404940;
   --color-05: #303030;
   }
   
   *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       text-decoration: none;
       border: none;
       outline: none;
       scroll-behavior: smooth;
   
   }
   
   html {
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-size: 16px;
   }
   
   body {
      background-color: var(--color-01);
      color: var(--text-color);
   }
   
   header {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       padding: 1.1rem;
       background-color: var(--bg-color-01);
       display: flex;
       justify-content: space-between;
       align-items: center;
       z-index: 100;
   }
   
   .logo {
   font-size: 1.7rem;
   color: var(--text-color);
   font-weight: 600;
   cursor: default;
   }
   
   .nav-responsive {
       display: none;
       position: absolute;
       top: 100%;
       right: 0;
       width: 100%;
       padding: 1rem;
       background-color: rgb(0, 0, 0, 0.4);
       flex-direction: column;
   }
   
   .nav a, .nav-responsive a {
       font-size: 1.2rem;
       color: var(--main-color);
       padding: 0.5rem 1rem;
       transition: 0.4;
   }
   
   .nav a:hover .nav-responsive a:hover {
   color: var(--main-color);
   }
   
   section {
      min-height: 100vh;
    padding: 6rem 6rem 2rem;
   }

   .home, .about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   }

   .home-img {
border-right: solid 0.6rem;
border-bottom: solid 0.6rem;
border-image: linear-gradient(225deg, transparent 50%, var (--main-color)) 1;
   }

    .about-img {
border-right: solid 0.6rem;
border-bottom: solid 0.6rem;
border-image: linear-gradient(225deg, transparent 50%, var (--main-color)) 1;
   }

   .home-img img, .about-img img{
width: 100%;
}

.about {
background-color: var(--bg-color02);
}

.home-content, .about-content {
width: 45%;
}

.home-content h1, .about-content h1{
font-weight: 70%;
line-height: 1.3;
}

.home-content h3, .about-content h3{
font-weight: 70%;
font-size: 1.6rem;
}

.home-content p, .about-content p {
margin-top: 1.2rem;
text-align: justify;
}

.services h2
.portfolio h2
.contact h2 {
font-size: 2.2rem;
margin-bottom: 1rem;
text-align: center;
}

.services-container{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}